

// _base.scss
$font-stack: Helvetica, sans-serif;
$primary-color: rgb(225, 28, 28);

.bodyC {
  font: 100% $font-stack;
  color:  rgb(225, 28, 28);
  padding: 45px 0;
 
  background-image:url('https://images.alphacoders.com/998/thumb-1920-998181.jpg');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.opa{
    opacity: 95%;
}

.nombreCard{
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: Lucida Sans Unicode;
    font-size: 18;
    color: rgb(212, 63, 207);
    text-shadow: 2px 2px 2px #726f6f;
}

.nombrePokedex{
  display: flex;
  align-items: center;
  justify-content: center; 
  font-family: Lucida Sans Unicode;
  font-size: 20;
  color: rgb(200, 21, 21);
  text-shadow: 2px 2px 2px #0b2bdf;
}

.switchStyle{
  margin-top: 80px;
}

.centerDIV {
    margin: auto;
    width: 50%;
    // border: 3px solid green;
    padding: 0px;
  }

.centerTitulo{
  display: flex;
  align-items: center;
  justify-content: center; 
}
.cardFix{
  margin-left: 5px;
}

.pokedexFix{
  margin-right: 5px;

}
